<%= provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".hp1" %>
  <%= link_to t(".link"), Settings.settings.help %>
  <%= t ".hp2" %>
  <%= link_to t("tutorial"), Settings.settings.book %>.
</p>
